.publicacion{
  word-break: break-all;
}

.custom-file-label::after{
  color:#fff;
  background: #9c27b0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Material Icons";
  content:"add_photo_alternate";
  font-size:"20px";
}



.img-viewPub{
  height: 300px;
  overflow: hidden;
}

.img-viewPub .img{
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 5px;
  max-width: 350px;
}

.ress{
  display: none;
}


@supports(object-fit: cover){
  .img-viewPub .img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}